SECRET SANTA RULES

1.	Do not tell the person that you are their secret santa
2.	Spending limit: $30
3.	No edibles for the main gift but can be used for add-ons (do not count edible purchases to your spending limit)
4.	Exchange date: Monday, Decemeber 14th, 2015


           $$     $$
           $$     $$
           $$b   d$$
           $$$b d$$$
          ,$$$$$$$$$
     __   d$$ $$$ $$
    d$$b  $$' `Y' $$     d$$$b $$$$$$'`$$$$$$'  $$  $$
   d$'dP d$P      Y$b   t$__$$ $$  $$  $$  $$   $$  $$
   $$   d$P       `Y$b  d$""'  $$  $$  $$  $$   $$  $$
   Y$$$$$P         `$$bd$$b..,d$$  4$.,$$  $$.,d$$bd$$ d$)
    `4$P'           `Y$P'"Y$$$$P'  `$$$P'  `$$$P'`""$$$$P
                                                   d$$P
                                                  d$$$
                                                 $$ $$
                                                 $$ $$
    d$$b                                         `$W$'
  d$P""Y$b    d$$b                                 ~
 $$'    $P  ,d$""$$.
d$' $b dY'  d$'  $$b                   $$                        ,d$$$b
$$   Y$P'   $$  ,d$P                   $$                       ,$$'~`$$
$$          $$ d$Y'        $$         H$$$$H                    $$'
$$          $$$$b.                .    $$                       $$b
$$         d$$' $$  $$$$$  $$    d$b   $$  d$b d$b,$b   ,d$$b    $$b
Y$b      ,$P$$  $$  $$ $$  $$   d$^Yb ,$$ ,$$$$$"$$$$$  d$'`$b    `$$b
 Y$b   ,d$P'$$  Y$bd$P $$bd$$b_$$'  $)$$$.$Y $$' $$ $$. $$.,$$b     `$$.
  `$$$$$P'  $$   "$$'  "$$P'`Y$P  d$P `$$$$' $$  $$ `$$$$"$$$'"$$$)  $$)
                                                                    d$P'
                                                                 _.d$P'
                                  d$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$P'
                                 $$P

                            |                         _...._
                         \  _  /                    .::o:::::.
                          (\o/)                    .:::'''':o:.
                      ---  / \  ---                :o:_    _:::
                           >*<                     `:}_>()<_{:'
                          >0<@<                 @    `'//\\'`    @ 
                         >>>@<<*              @ #     //  \\     # @
                        >@>*<0<<<           __#_#____/'____'\____#_#__
                       >*>>@<<<@<<         [__________________________]
                      >@>>0<<<*<<@<         |=_- .-/\ /\ /\ /\--. =_-|
                     >*>>0<<@<<<@<<<        |-_= | \ \\ \\ \\ \ |-_=-|
                    >@>>*<<@<>*<<0<*<       |_=-=| / // // // / |_=-_|
      \*/          >0>>*<<@<>0><<*<@<<      |=_- |`-'`-'`-'`-'  |=_=-|
  ___\\U//___     >*>>@><0<<*>>@><*<0<<     | =_-| o          o |_==_| 
  |\\ | | \\|    >@>>0<*<<0>>@<<0<<<*<@<    |=_- | !     (    ! |=-_=|
  | \\| | _(UU)_ >((*))_>0><*<0><@<<<0<*<  _|-,-=| !    ).    ! |-_-=|_
  |\ \| || / //||.*.*.*.|>>@<<*<<@>><0<<@</=-((=_| ! __(:')__ ! |=_==_-\
  |\\_|_|&&_// ||*.*.*.*|_\\db//__     (\_/)-=))-|/^\=^=^^=^=/^\| _=-_-_\
  """"|'.'.'.|~~|.*.*.*|     ____|_   =('.')=//   ,------------.      
      |'.'.'.|   ^^^^^^|____|>>>>>>|  ( ~~~ )/   (((((((())))))))   
      ~~~~~~~~         '""""`------'  `w---w`     `------------'

